$content-font: 16px;

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    --poppins: "Poppins", sans-serif;
    --myriad: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
