.recodepage-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 28px 0 55px 16.8%;

    @include width1440 {
        padding: 8px 0 13px 315px;
    }

    @include width1024 {
        padding: 8px 0 13px 2.5%;
        width: 95%;
    }
}

@import "./message/message";
@import "./feedback/feedback";
@import "./rating/rating";
@import "./carousel/carouselBottom";
