#humburger-menu-icon {
    background-color: var(--header-green);
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    padding: 16px 14px;

    position: absolute;
    top: 18px;
    left: 28px;

    @include width425 {
        top: 14px;
        left: 4px;
    }

    > i {
        filter: var(--svg-white-color);
    }

    &:hover {
        > i {
            filter: var(--svg-black-color);
        }
    }
}

.header-sidemenu {
    background-color: var(--main-white);

    transition: all 0.3s ease-in-out;
    position: absolute;
    // width: 309px;
    height: 99%;
    top: 0%;
    z-index: 50;
    display: flex;
    flex-direction: column;

    // ---------NEW
    // transform: translateX(-68%);
    // width: 18%;
    // @include width1800 {
    //     transform: translateX(-40%);
    // }

    // @include width425 {
    //     transform: translateX(-5%);
    // }
    // ---------OLD
    transform: translateX(-127%);
    width: 16%;

    @include width1440 {
        transform: translateX(-22%);
        width: 309px;
    }

    @include width1024 {
        transform: translateX(-13%);
    }

    @include width425 {
        height: 81vh;
        // ---------NEW
        // transform: translateX(-5%);
    }
}

.header-fixed-height {
    height: 99%;
    transform: translateX(0%);
    top: 80px;

    @include width1440 {
        width: 309px;
    }

    @include width1440 {
        top: 160px;
    }
}

.header-recode-height {
    height: 99%;
    transform: translateX(0%);
    top: 0px;

    @include width1440 {
        width: 309px;
    }
}

.sidemenu-hidden {
    transform: translateX(-250%);
    transition: ease-in-out 0.5s;
}
