.audiopage-carousels {
    padding: 0 3% 10% 19.2%;

    @include width1440 {
        padding: 0 3% 10% 310px;
    }

    @include width1024 {
        padding: 0 2.5% 10% 2.5%;
        width: 95%;
        margin: auto;
    }
}
