.recodepage-techinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 34px 44.5% 13px 14.8%;

    @include width1440 {
        padding: 8px 0 13px 4.25%;
    }

    @include width1024 {
        padding: 34px 2% 13px 2.5%;
    }

    > h3 {
        text-transform: capitalize;
        font-size: 40px;
        letter-spacing: 2px;

        margin-bottom: 20px;
        padding-left: 39px;

        @include width768 {
            padding-left: 2.2%;
        }
    }

    > div {
        display: flex;
        border-bottom: 0.4px solid var(--body-pangination-gray);

        padding-left: 39px;

        @include width768 {
            padding-left: 2.2%;
        }

        &:nth-last-of-type(1) {
            border-bottom: none;
        }

        > p {
            display: flex;
            font-size: 21px;
            padding-bottom: 5px;
            padding-top: 1px;
            letter-spacing: 0.75px;
            white-space: nowrap;

            &:nth-last-of-type(1) {
                padding-left: 39px;
                width: 55%;
                font-weight: 600;

                @include width768 {
                    width: 80%;
                    padding-left: 9.5%;
                }
            }

            &:nth-of-type(1) {
                width: 45%;
                border-right: 0.4px solid var(--body-pangination-gray);
                font-weight: 300;
                padding-left: 0;

                color: var(--logo-gray);

                @include width768 {
                    width: 80%;
                    padding-right: 10%;
                }
            }
        }

        > a {
            width: 55%;
            font-weight: 600;
            font-size: 21px;
            letter-spacing: 0.75px;
            white-space: nowrap;

            color: var(--header-green);
            text-decoration: underline;

            padding-bottom: 5px;
            padding-top: 1px;
            padding-left: 39px;

            @include width768 {
                width: 80%;
                padding-left: 9.5%;
            }

            &:hover {
                color: var(--header-green);
                letter-spacing: 1px;
            }
        }
    }
}
