.footer--logo {
    width: 53%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    > a {
        margin-bottom: 5%;

        width: 100%;
        margin-right: 17%;

        > img {
            max-width: 100%;
            width: auto;
        }
    }
}
