// BUTTON COLORS
.green-button {
    color: var(--main-white);
    background-color: var(--header-green);
}

.black-button {
    color: var(--main-white);
    background-color: var(--text-main-dark);

    p {
        font-family: var(--myriad);
        font-size: 400;
    }

    &:hover {
        color: var(--header-green) !important;
    }
}

.white-button {
    color: var(--text-main-dark);
    background-color: var(--main-white);

    > p {
        font-family: var(--poppins);
        font-weight: 600;
    }

    &:hover {
        color: var(--header-green) !important;
    }
}

.transperant-button {
    color: var(--text-main-gray);
    background-color: transparent;
    text-transform: capitalize !important;
}

// ------RADIO BUTTONS

.white-label {
    color: var(--text-main-dark);
    background-color: var(--main-white);

    p,
    a {
        font-family: var(--poppins);
        font-weight: 600;
    }

    &:hover {
        color: var(--header-green) !important;

        > a {
            color: var(--header-green) !important;
        }
    }
}

// ----TABS COLORS when active
.nav-pills {
    > li {
        &:nth-of-type(1) {
            margin-bottom: 23px;
        }

        &:nth-of-type(2) {
            margin-left: 10px !important;
            margin-bottom: 39px;

            @include width375 {
                margin-left: 0 !important;
                margin-top: 10px;
            }
        }
    }

    > .nav-item {
        > a {
            text-transform: uppercase;
            font-family: var(--myriad);
            font-size: 500;
            font-size: 12px;
        }

        > .active {
            color: var(--main-white);
            background-color: var(--text-main-dark);

            &:hover {
                color: var(--header-green) !important;
            }
        }
    }
}
