.audiopage--filter {
    padding-left: 16.8%;
    width: 91.3%;

    @include width1440 {
        padding: 8px 0 13px 315px;
    }

    @include width1024 {
        padding: 8px 0 13px 2.5%;
        width: 95%;
    }

    > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include width1440 {
            flex-wrap: wrap;
        }

        @include width375 {
            flex-direction: row !important;
        }

        > label {
            &:nth-of-type(2) {
                margin: 0 !important;
            }

            @include width1440 {
                max-width: 21%;
                width: 21%;
            }

            @include width768 {
                max-width: 45%;
                width: 45%;
                margin-bottom: 7px !important;
            }
        }
    }
}
