.media-block {
    width: 100%;
    // margin-top: 56px;

    > div {
        // BLOCK NAME and BUTTONS
        &:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 46px;
            // NAME
            > h2 {
                font-size: 43px;
                text-align: center;

                margin-bottom: 17px;
            }
            // --- ---
            > div {
                &:nth-of-type(1) {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 27px;

                    > span {
                        width: 70px;
                        height: 1px;
                        background-color: var(--text-main-dark);

                        &:nth-of-type(1) {
                            margin-right: 4px;
                        }
                        &:nth-last-of-type(1) {
                            margin-left: 35px;
                        }
                    }
                }
            }

            // BUTTONS
            > fragment {
                display: flex;
                justify-content: center;

                > button {
                    &:nth-of-type(1) {
                        margin-bottom: 23px;
                    }

                    &:nth-of-type(2) {
                        margin-left: 10px;
                        margin-bottom: 39px;

                        @include width375 {
                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }
                }

                @include width375 {
                    flex-direction: column;
                }
            }
        }
    }
}

.carousel-body-wrap {
    @include width1800 {
        display: flex;
        justify-content: center;
        width: 92%;
        margin: auto;
    }
}
