advise {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-white);

    padding-left: 16.8%;
    padding-right: 16.8%;
    padding-bottom: 47px;

    @include width1440 {
        padding-right: 4.25%;
        padding-left: 4.25%;
    }
}

@import "./wrap/wrap";
@import "./sizing/sizing";
@import "./subscribe/subscribe";
