.header-left {
    display: flex;
    height: 100%;
    align-items: center;
    width: 57%;

    @include width1024{
        width: 100%;
        height: 50%;
    }

    >a {
        display: block;
        width: 100%;
        height: 74%;
        text-align: end;
        >img{
            height: 100%;
            width: auto;
        }

        
        @include width1024{
            text-align: center;
        }

        @include width425{
            height: 60%;
        }
        @include width320{
            text-align: end;
        }

    }
}

@import './sideMenu/menu';
@import './sideMenu/sideMenu';