center {
    width: 100%;

    position: relative;
    background-color: var(--body-bg-gray);

    // ---------NEW
    // padding-left: 12.5%;
    // padding-right: 12.5%;
    // padding-bottom: 1%;

    // @include width1800 {
    //     padding-right: 4.25%;
    //     padding-left: 7.25%;
    // }

    // @include width1440 {
    //     padding-left: 4.25%;
    // }

    // ---------OLD
    padding-left: 20%;
    padding-right: 4.25%;
    padding-bottom: 47px;

    @include width1440 {
        padding-left: 4.25%;
    }
}

@import "./top/topSection/topSection";
@import "./top/bottom/centerBottom";
