.recodepage-description {
    padding: 8px 0 13px 16.8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include width1440 {
        padding: 8px 0 13px 4.25%;
    }

    @include width1024 {
        padding: 8px 0 13px 2.5%;
        width: 95%;
    }

    > ul {
        > li {
            &:nth-of-type(2) {
                margin-left: 0 !important;
            }
        }
    }
}

@import "./text/descriptionText";
@import "./buttons/descriptionRadio";
